.trusted-section {
  /* padding: 100px 120px; */
  font-family: "Inter", sans-serif;
  column-gap: 24px;
  row-gap: 24px;
  padding-left: 200px  ;
  padding-right: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.trusted-content {
  max-width: 560px;
  flex-shrink: 0;
}

.trusted-title {
  font-size: 31px;
  font-weight: 700;
  line-height: 38px;
  color: #000000;
  margin-bottom: 24px;
}

.trusted-description {
  font-size: 18.1px;
  line-height: 35px;
  color: #000000;
  max-width: 500px;
}

.trusted-images {
  gap: 24px;
  margin-left: 0;
  align-items: center;
  margin-right: 190px;
}

.trusted-image {
  width: 310.73px;
  border-radius: 152.87px;
  object-fit: cover;
  opacity: 1;
}

.trusted-image-left {
  height: 590px;
  margin-top: 0;
}

.trusted-image-right {
  height: 560px;
  margin-top: 12px;
  margin-right: -40px;
}

@media (max-width: 1199.98px) {
  .trusted-section {
    padding: 90px 80px; 
    gap: 0px;
  }

  .trusted-images {
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 991.98px) {
  .trusted-section {
    padding: 80px 40px;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    gap: 48px;
  }

  .trusted-content {
    max-width: 100%;
  }

  .trusted-description {
    max-width: 100%;
  }

  .trusted-images {
    justify-content: center;
  }

  .trusted-image {
    width: 260px;
  }

  .trusted-image-left {
    height: 480px;
  }

  .trusted-image-right {
    height: 450px;
  }
}

@media (max-width: 767.98px) {
  .trusted-images {
    width: 100%;
    justify-content: center;
    gap: 16px;
  }

  .trusted-image {
    width: 230px;
  }

  .trusted-image-left {
    height: 380px;
  }

  .trusted-image-right {
    height: 500px;
    margin-top: 10px;
  }
}

@media (max-width: 575.98px) {
  .trusted-section {
    padding: 60px 30px;
  }

  .trusted-title {
    font-size: 26px;
    line-height: 32px;
  }

  .trusted-description {
    font-size: 16px;
    line-height: 28px;
  }

  .trusted-images {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .trusted-image {
    width: 250px;
  }

  .trusted-image-left {
    height: 500px;
    margin-left: 30px;
  }

  .trusted-image-right {
    height: 500px;
    margin-top: 0;
    margin-left: 30px;
  }
}

